<div class="auto">
<p>first of all i want to implement autocomplete functionality </p>
<mat-form-field appearance="fill">
  <mat-label>Choose an option</mat-label>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<p>Badges</p>
<button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="before" matBadgeColor="accent">
  Action
</button> <br>
<p>Buttons</p>
<button mat-fab extended>
    <mat-icon>home</mat-icon>
    Home
</button> <br>
<mat-button-toggle [aria-label]="alertsEnabled ? 'Disable alerts' : 'Enable alerts'">
  <mat-icon>notifications</mat-icon>
</mat-button-toggle>
</div>